@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap");
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.8em;
}

header {
  background: url("../images/map_bg.png"),
    linear-gradient(rgba(5, 54, 180, 1), rgba(5, 54, 180, 1));
  background-size: cover, cover;
  background-position: bottom center, bottom right;
  height: 100vh;

  nav {
    color: #fff;

    li {
      margin: 10px;
      padding: 5px;
      a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 1.1em;
        &:hover {
          color: rgba(4, 54, 180, 1);
        }
      }
      &:hover {
        background-color: #fff;
        a {
          color: rgba(4, 54, 180, 1);
        }
      }
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    &:hover {
      color: rgba(4, 54, 180, 1);
    }
  }
  .navbar-collapse {
    &.show,
    &.collapsing {
      background-color: #fff;
      text-align: center;
      .nav-link {
        color: rgba(4, 54, 180, 1);
      }
    }
  }

  #headline {
    color: #fff;
    padding-top: 200px;
    @media screen and (max-width: 480px) {
      padding-top: 70px;
      img {
        width: 80%;
      }
    }
    img {
      max-width: 100%;
    }
  }

  #ctaBox {
    padding: 2em;
    button {
      width: 100%;
      max-width: 800px;
      margin: 3px auto 3px auto;
      border: 0;
      padding: 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.8em;
      &.primaryBtn {
        background-color: #cc0000;
      }
      &.secondaryBtn {
        opacity: 0.8;
        color: rgba(4, 54, 180, 0.9);
      }
    }
  }

  #heroImage {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#imageBar {
  display: flex;
  img {
    flex-grow: 1;
  }
}

// #improvements {
//   ul {
//     list-style-image: url("../images/mustache.png");
//     li {
//       font-size: 28px;
//       padding: 20px 0;
//     }
//   }
// }

.highlight {
  color: #cc0000;
  font-weight: bold;
}

.highlightBlue {
  color: rgba(5, 54, 180, 1);
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

img {
  max-width: 100%;
}

#introNote {
  font-family: "Architects Daughter", cursive;
  font-size: 32px;
  line-height: 40px;
  p {
    padding: 0px;
    margin: 12px 0px;
  }
}

#introNoteContainer {
  margin-top: -400px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  @media screen and (max-width: 480px) {
    margin-top: -180px;
    width: 80%;
  }
}
